PORT=3000
DATABASE_URL="postgresql://USUARIO:SENHA@localhost:5432/app_whats?schema=public"
WHATSAPP_TOKEN=
META_APP_SECRET=
PHONE_NUMBER_ID=
VERIFY_TOKEN=
GRAPH_VERSION=vXX.X
SESSION_SECRET=gere-uma-chave-aleatoria-longa
NODE_ENV=development
