POSTGRES_DB=app_whats
POSTGRES_USER=app_whats
POSTGRES_PASSWORD=SENHA_FORTE_SEM_CARACTERES_DE_URL
SESSION_SECRET=CHAVE_ALEATORIA_COM_PELO_MENOS_32_CARACTERES
VERIFY_TOKEN=TOKEN_DE_VERIFICACAO_DO_WEBHOOK
WHATSAPP_TOKEN=TOKEN_DA_WHATSAPP_CLOUD_API
PHONE_NUMBER_ID=ID_DO_NUMERO_META
GRAPH_VERSION=vXX.X
META_APP_SECRET=APP_SECRET_DA_META
